<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <title>Apple Order Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
    <nav>
	  <img src="{{ url_for('static', filename='logo.jpg') }}" alt="logo" align="bottom" width="100"/>
	  <h1><a href="{{ url_for('index') }}">Apple Order Planner</a></h1>
	</nav>
	<section class="content">
	  <header>
	    {% block header %}{% endblock %}
	  </header>
	  {% for message in get_flashed_messages() %}
	    <div class="flash">{{ message }}</div>
	  {% endfor %}
	  {% block content %}{% endblock %}
	</section>
</body>
</html>