{% extends 'base.html' %}

{% block header %}
  <h1>Allocation Plan</h1>
{% endblock %}

{% block content %}
  <table border="1">
	<thead>
		<tr>
		{% for col in plan[0] %}
			<th>{{ col }}</th>
		{% endfor %}
		</tr>
	</thead>
	<tbody>
	{% for row in plan[1:] %}
		<tr>
		{% for col in row %}
			<td>{{ col }}</td>
		{% endfor %}		
		</tr>
	{% endfor %}
	</tbody>
  </table>
  <div><a href="{{ url_for('download', filename = 'order_execution_plan') }}">Click here</a> to download a csv file.</div>
   <a href="{{ url_for('index') }}"><button>Back to upload files</button></a>
{% endblock %}